body{background-color: darkblue; background-repeat: no-repeat;}
h1{border: 1px solid; color:coral; background-color:darkmagenta; padding-left: 500px;}
label{border: 1px solid; margin-left: 480px; font-size: 32px; color:coral;}
input{width: 80%; margin-top: 20px; text-align: center; font-size: 28px; margin-left: 80px; border-top: none;
border-left: none; border-right: none;}
button{font-size: 24px; background-color: darkorchid; color:burlywood;}
#result{display: flex; flex-direction: column; border: 1px solid; width: 40%; text-align: center; 
    height: 50%; margin-left: 350px; margin-top: 10px; color: black; font-weight: bolder;}
    #r1{ color: crimson;font-size: 28px;}
    #r2{ color: crimson;font-size: 28px;}
    #r3{ color: crimson;font-size: 28px;}
    #r4{ color: crimson;font-size: 28px;}
    #r5{ color: crimson;font-size: 28px;}
    #r6{ color: crimson;font-size: 28px;}
    #r7{ color: crimson;font-size: 28px;}
     #r8{ color: crimson; font-size: 28px;}